html{
    position:relative;
    min-height:100%;
}
body{
    background:#fff;
}
main{
    min-height:100%;
    margin-bottom:217px;
}
.sign-up-form,.show-content{ background:#dfe8f1; padding:30px;}
.show-content{}
.custome-header{
    background: #2980b9;
    border-radius: 0;
    line-height: 80px;
    color: #fff;
    border-color:#2980b9;
    margin-bottom:0;
}
a.company-logo.navbar-brand{
    height:90px;
    line-height:60px;
    color:#fff;
}
.form-heading-text{
    font-size:30px;
    margin-bottom:30px;
    margin-top:0;
}
footer .footer-copyright{
    background: #171717;
    height:50px;
    line-height:50px;
    color:#fff;
}
footer{
    position:absolute;
    bottom:0;
    float:left;
    width:100%;
    background:#434343;
}
.btn.btn-buyer{color:#fff;background:#c7c7c7; padding:6px 22px;}
ul.get-intouch-links{
    padding:0;
    margin:0;
   list-style: none;
   float: left;
   display: inline-block;
}
ul.get-intouch-links > li.get-intouch-link{
    display:inline-block;
    font-size: 20px;
    margin-right: 10px;
    float:left;
}
.company-logo .logo{display:inline-block;}
.hero-line .header-text{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
}
.hero-line{

    margin: 0;
    padding: 30px;
    border-bottom: 10px solid #2980b9;
    background:#fff;
    box-shadow:0 5px 5px #888;
    margin-bottom: 5px;
}
.form-group.sign-up-form-group{margin-bottom:25px;}
.sign-up-form-group input{
    margin-bottom:10px;
}
a.terms,a.privacy,.login-link{color:#c1392b;}
.terms-privacy{
    margin-bottom:25px;
}
footer .quick-link .quick-link-header,
footer .top-company .top-company-link-header,
footer .resources .resources-link-header,
footer .contact .contact-us-header{
    color:#fff;
        font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 2px solid;
    display: inline-block;
}
footer .footer-content{
    padding:20px;
}

footer ul.quick-links-list,
footer ul.top-company-link-list,
footer ul.resources-link-list,
footer ul.contact-list{margin:0;
          padding:0;
          list-style:none;
}
footer ul.quick-links-list > li.quick-link-item a,
footer ul.top-company-link-list > li.top-company-link a,
footer ul.resources-link-list > li.resources-link a,
footer ul.contact-list > li.contact-list-item{margin:0;
          color: #fff;
}
.padding-zero{
  padding-left: 0;
  padding-right: 0;
}
footer .about-company{padding-left: 0;padding-right: 0;}
footer .about-company img{margin-bottom: 10px;}
footer .about-company p{color: #fff; font-size: 13px;}
.quick-link,.top-company,.resources{padding-left: 30px; padding-right: 30px;}
footer .contact .contact-list .contact-list-item span{margin-right: 5px;}

.company-contact .company-contact-form .input-group{margin-bottom: 10px;}

.footer-copyright p{margin-bottom: 0;}
.step-title{min-height: 20px; float: left;border-radius:0;}
.psteps_circle_titles .circle-steps{
  width: 10px;height: 10px;padding: 5px; line-height: 10px; font-size: 10px; border-radius: 500px 500px 500px 500px;
}

/*********************************buyer***************************/
.next-pre-buttons .btn-back,.next-pre-buttons .btn-next{ border: 1px solid #c1392b; color:#c1392b;}
.next-pre-buttons .btn-back i.fa.fa-long-arrow-left{margin-right:5px;}
.next-pre-buttons .btn-back i.fa.fa-long-arrow-right{margin-left:5px;}
.next-pre-buttons .btn-next{background:#c1392b; color:#fff;}
.btn-file{position:relative; overflow:hidden; display:block; font-size:20px;}
.upload-img{width:100%; margin-bottom:10px; height:210px; margin-bottom:35px;}
textarea.company-introduction,.intrested-product-options{resize:none;}
/**************************welcome page*****************/
.welcome-msg{padding:100px;}
.welcome-msg .welcome-header{margin-bottom:20px; font-weight:bold;}
.btn-file input[type="file"]{position: absolute;top:0;right:0;min-height:100%;min-width:100%;text-align:right;display:block;cursor:inherit;filter:alpha(opacity=0); opacity:0;outline:none;background:#fff;}







/***************************show page****************************/
.navbar-right.show-header-right{margin: 20px 0;}
.show-header-right.navbar-nav>li>a,.show-header-right.navbar-nav>li>a:hover{color: #fff;}
.show-header-right.navbar-nav>li>a.user-name{font-weight: bold;}
.banner.show-banner{
  height: 300px;
  background: url("../images/10.jpg")no-repeat;
  background-size: cover;
  position: relative;
}
.profile-show .company-name,.profile-show .profile-complition{display: inline-block; color: #fff; font-weight: bold;}
.profile-show .profile-complition{font-size: 17px;margin-bottom: 20px;}
.profile-show .company-name{margin-bottom: 15px;}
.profile-show{position:absolute; bottom: 0;}
a.complete-link{color: #fae502;padding-bottom: 1px;border-bottom: 1px solid;}
.show-main-nav ul.nav-links{padding: 0; margin: 0; float: left; list-style: none; width: 100%;}
.show-main-nav ul.nav-links > li.link-item{ display: inline-block;}
.show-main-nav ul.nav-links > li.link-item a{display: block; padding: 20px 20px; color: #000;font-weight: bold;}
.show-main-nav ul.nav-links > li.link-item a:hover{text-decoration: none; border-bottom: 5px solid #c1392b; padding: 15px 20px; }








@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (max-width: 767px){
  a.company-logo{width: 100%; text-align: center}
  footer{position: static}
  .form-group.sign-up-form-group{margin-bottom: 0;}
}
@media (max-device-width: 480px){
  .hero-line{padding: 15px;}
  .hero-line .header-text{font-size: 30px;}
  .form-heading-text{font-size: 20px;}
  footer .about-company,footer .quick-link, footer .top-company, footer .resources{padding-left: 15px; padding-right: 15px; margin-bottom: 10px;}
  footer .quick-link, footer .top-company, footer .resources{}
  .terms-privacy label{font-size: 11px;}
  .terms-privacy label.checkbox-inline input[type=checkbox]{margin: 2px -20px; 0;}
  footer .footer-copyright{height: inherit;line-height: inherit;}
}
